*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav{
    padding: 10px 200px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 5px #ccc;
    display: flex;
    font-size: 1.5rem;
    position: fixed;
    width: 100%;
}

nav li{
    list-style: none;
}

nav li.logo{
    margin-right: auto;
}

/* hero section starts */

section.hero{
    padding: 250px 400px;
    background-image: url('./images/people5.jpg');
    background-position: center;
    font-size: 1.4rem;
}

section.hero div{
    width: 500px;
    position: relative;
}

section.hero div h1{
    font-size: 5rem;
    margin: 20px 0;
}

section.hero div h1::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 300px;
    background-color: yellow;
    right: -80px;
    top: -100px;

}

section.hero div button{
    padding: 10px;
    background-color: #000;
    color: #fff;
    font-weight: 900;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 20px 0;
    font-size: 1.2rem;
}

/* section studio starts */

.studio{
    padding: 100px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.studio div{
    width: 400px;
    display: flex;
    flex-direction: column;
}

.studio .image {
   gap: 10px;
   align-items: center;
}

.studio .info {
    justify-content: center;
    font-size: 1.3rem;
}

.studio .info h2{
    font-size: 3rem;
    font-weight: 900;
    margin: 40px 0;
}

/* section agency starts */

.agency{
    display: flex;
    position: relative;
}

.agency > *{
    flex: 1;
}

.agency .info{
    background-color: yellow;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.agency .info h2{
    font-size: 4rem;
    position: absolute;
}
/* price section starts */

.price{
    padding: 100px;
    display: flex;
    justify-content: center;
}

.price > div{
    width: 650px;
    font-size: 1.2rem;
}

.price .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.price .info p{
    font-weight: 300;
    font-size: 1.3rem;
}


.price .info h2{
    font-size: 3rem;
}

.price .info button{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: yellow;
    border: none;
    outline: none;
}

.price .info button span{
    font-size: 3rem;
}

.price .about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.price .about > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
}

.price .about > div > span{
    font-size: 4rem;
    width: 70px;
    height: 70px;
    background-color: yellow;
    border-radius: 50%;
}

/* gallery section starts */

.gallery{
    display: flex;
}

.gallery img{
    width: 50%;
    object-fit: cover;
    object-position: center;
}

/* work section starts */

.work{
    padding: 100px 0;
    text-align: center;
    font-size: 1.2rem;
}

.work > h2{
    font-size: 3rem;
}
.work > p{
    width: 600px;
    margin: 20px auto;
}
.clients{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.clients > div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.clients .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.clients .info h2{
    font-size: 3rem;
    margin-top: 50px;
}